<div class="conversation-card__response-list_response">
  <div class="conversation-card__response-list_user">
    <div class="avatar">
      <a href="#"><img alt="User" src="/assets/dontknow-collaboratorium/avatar.jpg"></a>
    </div>
    <div class="conversation-card__response-list_user-info">
      <div class="conversation-card__response-list_user-details">
        <a>Antonio Fontani</a>
        <span>Cheif Optimistic Officer</span>
      </div>
    </div>
  </div>
  <div class="conversation-card__response-list_text">
    <p>
      Coincido plenamente, en el proceso independientemente del tamaño de la empresa debe de involucrarse al inicio toda la dirección y a partir de esa primera fase, tamaño y conclusiones, tomar las acciones de nombrar un CDO, o una oficina de transformación lo más transversal posible (con su responsable) siempre sin perder como objetivo que toda la organización se sienta involucrada.
    </p>
  </div>
  <div class="conversation-card__response-list_timestamp">
    <span>Hace 1 año <a><i icon-icn-trash></i></a></span>
  </div>
</div>
