<div class="conversation__status_scorecard_container">
  <ul class="conversation__status_scorecard_list">
    <li class="conversation__status_scorecard_list-item">
      <div class="conversation__status_scorecard_list-item_container">
        <div class="conversation__status_scorecard_details">
          <span>Remdimiento (40%)</span>
          <div class="circle-plus closed">
            <div class="circle">
              <div class="horizontal"></div>
              <div class="vertical"></div>
            </div>
          </div>
          <p>
            Vestibulum eros nisl, tempor vitae augue et, egestas malesuada nisi. Nullam purus lectus, posuere nec massa ac.
          </p>
        </div>
        <div class="conversation__status_scorecard_score">
          <span>8</span>
        </div>
      </div>
    </li>
    <li class="conversation__status_scorecard_list-item">
      <div class="conversation__status_scorecard_list-item_container">
        <div class="conversation__status_scorecard_details">
          <span>Mantenemibilidad (40%)</span>
          <div class="circle-plus closed">
            <div class="circle">
              <div class="horizontal"></div>
              <div class="vertical"></div>
            </div>
          </div>
          <p>
            Vestibulum eros nisl, tempor vitae augue et, egestas malesuada nisi. Nullam purus lectus, posuere nec massa ac.
          </p>
        </div>
        <div class="conversation__status_scorecard_score">
          <span>6,8</span>
        </div>
      </div>
    </li>
    <li class="conversation__status_scorecard_list-item">
      <div class="conversation__status_scorecard_list-item_container">
        <div class="conversation__status_scorecard_details">
          <span>Fiabilidad (20%)</span>
          <div class="circle-plus closed">
            <div class="circle">
              <div class="horizontal"></div>
              <div class="vertical"></div>
            </div>
          </div>
          <p>
            Vestibulum eros nisl, tempor vitae augue et, egestas malesuada nisi. Nullam purus lectus, posuere nec massa ac.
          </p>
        </div>
        <div class="conversation__status_scorecard_score">
          <span>5,2</span>
        </div>
      </div>
    </li>
  </ul>
</div>
<div class="conversation__status_scorecard_total">
  <div class="conversation__status_scorecard_total_amount">
    <span>2 valoraciones</span>
  </div>
  <div class="conversation__status_scorecard_total_average">
    Puntuación media (100%) <span>8</span>
  </div>
</div>
