<div class="conversation-card__container">
  <!--argument header-->
  <%= render "scorecard/show/partials/cards/conversation__card_header" %>
  <!--argument content-->
  <div class="conversation-card__content">
    <%= render "scorecard/show/partials/cards/conversation__card_scorecard_edit" %>
  </div>
</div>
