<div class="conversation-card__response-editor">
  <div class="conversation-card__response-editor_avatar">
    <div class="avatar">
      <a href="#"><img alt="User" src="/assets/dontknow-collaboratorium/avatar.jpg"></a>
    </div>
  </div>
  <div class="conversation-card__response-editor_textarea">
    <div class="form__element">
    <textarea class="form__textarea" placeholder="Comenta esta opinión"></textarea>
  </div>
  </div>
  <div class="conversation-card__response-editor_button">
    <button class="button__radius button__radius__secondary">Comentar</button>
  </div>
</div>
