<div class="conversation__status_scorecard_container">
  <ul class="conversation__status_scorecard_list">
    <li class="conversation__status_scorecard_list-item">
      <div class="conversation__status_scorecard_list-item_container">
        <div class="conversation__status_scorecard_details">
          <span>Remdimiento</span>
          <div class="circle-plus closed">
            <div class="circle">
              <div class="horizontal"></div>
              <div class="vertical"></div>
            </div>
          </div>
          <p>
            Vestibulum eros nisl, tempor vitae augue et, egestas malesuada nisi. Nullam purus lectus, posuere nec massa ac.
          </p>
        </div>
        <div class="conversation__status_scorecard_score">
          <div class="form__element">
            <input class="form__input" placeholder="">
          </div>
        </div>
      </div>
    </li>
    <li class="conversation__status_scorecard_list-item">
      <div class="conversation__status_scorecard_list-item_container">
        <div class="conversation__status_scorecard_details">
          <span>Mantenemibilidad</span>
          <div class="circle-plus closed">
            <div class="circle">
              <div class="horizontal"></div>
              <div class="vertical"></div>
            </div>
          </div>
          <p>
            Vestibulum eros nisl, tempor vitae augue et, egestas malesuada nisi. Nullam purus lectus, posuere nec massa ac.
          </p>
        </div>
        <div class="conversation__status_scorecard_score">
          <div class="form__element">
            <input class="form__input" placeholder="">
          </div>
        </div>
      </div>
    </li>
    <li class="conversation__status_scorecard_list-item">
      <div class="conversation__status_scorecard_list-item_container">
        <div class="conversation__status_scorecard_details">
          <span>Fiabilidad</span>
          <div class="circle-plus closed">
            <div class="circle">
              <div class="horizontal"></div>
              <div class="vertical"></div>
            </div>
          </div>
          <!--<p>
            Vestibulum eros nisl, tempor vitae augue et, egestas malesuada nisi. Nullam purus lectus, posuere nec massa ac.
          </p>-->
        </div>
        <div class="conversation__status_scorecard_score">
          <div class="form__element">
            <input class="form__input" placeholder="">
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
<div class="conversation__status_scorecard_total">
  <div class="conversation__status_scorecard_total_amount">
  </div>
  <div class="conversation__status_scorecard_total_average">
    Puntuación total <span>8</span>
  </div>
</div>
