<div class="conversation-card__header">
  <div class="conversation-card__header_score">
    1
  </div>
  <div class="conversation-card__header_title">
    <span>Title</span>
  </div>
  <div class="conversation-card__header_description">
    <p>En Starbucks no existe la figura del Chief Experience Officer en cuanto se entiende que cada "barista" ejerce como tal... <a class="conversation-card__header_read-more-link">Leer Más</a></p>
  </div>
</div>
