<div class="conversation__type">
  <div class="conversation__type_container">
    <div class="conversation__type_icon">
      <i class="icon-circle-icn-scorecard"></i>
    </div>
    <div class="conversation__type_link">
      <a>Conoce más sobre la plantilla de Scorecard</a>
    </div>
  </div>
</div>
