<div class="conversation__block">
  <div class="conversation__block_title">
    <h2><span>Scorecard</span> <!--<span class="conversation__block_badge">4</span>--></h2>
    <div id="flip2" class="conversation__block_flip">
      <div class="circle-plus closed">
        <div class="circle">
          <div class="horizontal"></div>
          <div class="vertical"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--pannel wrapper-->
<div id="panel2" >
  <div class="conversation__block_tabs">
    <ul class="tabs" data-tab>
      <li class="active"><a href="#panel11">Scorecard</a></li>
      <li class=""><a href="#panel22">Mi puntuación</a></li>
    </ul>
  </div>
  <div class="tabs-content conversation__block_tabs-content">
    <div class="content active" id="panel11">
      <div class="conversation__arguments-filters">
        <div class="conversation__arguments-filters_inline-filter">
          <div class="form__label_container">
            <div class="form__label_label">
              <label>Oredenar por:</label>
            </div>
          </div>
          <div class="form__element_container">
            <div class="form__select">
              <select required="">
                <option value="" disabled="" selected="">Seleciona una opción...</option>
                <option value="weekly">Semanal</option>
                <option value="monthly">Mensual</option>
                <option value="yearly">Anual</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <!--argument wrapper-->
      <div class="conversation__arguments">

        <!--argument box with comments-->
        <%= render "scorecard/show/partials/cards/conversation__card_comments" %>
      </div>
    </div>
    <div class="content" id="panel22">
      <div class="conversation__arguments-filters">
        <div class="conversation__arguments-filters_inline-filter">
          <div class="form__label_container">
            <div class="form__label_label">
              <label>Puntúalos del 0 al 10 y haz click en Votar al final (siendo 10 la puntuación más elevada y 1 la más baja)</label>
            </div>
          </div>
        </div>
      </div>

      <div class="conversation__arguments">
        <div data-alert class="alert-box success radius">
          This is a success alert with a radius.
          <a href="#" class="close">&times;</a>
        </div>
        <!--argument box with comments-->
        <%= render "scorecard/show/partials/cards/conversation__card_edit" %>
        <%= render "scorecard/show/partials/cards/conversation__card_edit" %>
        <div class="form__buttons_container">
          <div class="form__buttons_left-col">
          </div>
          <div class="form__buttons_right-col">
            <button class="button__radius">Votar</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<!--hr seperador de bloque-->
<%= render "challenge/show/partials/conversation__block_divider" %>
