<div class="conversation__status_scorecard_container">
  <ul class="conversation__status_scorecard_list">
    <li class="conversation__status_scorecard_list-item">
      <div class="conversation__status_scorecard_list-item_container">
        <div class="conversation__status_scorecard_badge">
          <span class="conversation__block_badge">1</span>
        </div>
        <div class="conversation__status_scorecard_details">
          <span>Title</span>
        </div>
        <div class="conversation__status_scorecard_score">
          <span>8</span>
        </div>
      </div>
    </li>
    <li class="conversation__status_scorecard_list-item">
      <div class="conversation__status_scorecard_list-item_container">
        <div class="conversation__status_scorecard_badge">
          <span class="conversation__block_badge">2</span>
        </div>
        <div class="conversation__status_scorecard_details">
          <span>Title</span>
        </div>
        <div class="conversation__status_scorecard_score">
          <span>0</span>
        </div>
      </div>
    </li>
    <li class="conversation__status_scorecard_list-item">
      <div class="conversation__status_scorecard_list-item_container">
        <div class="conversation__status_scorecard_badge">
          <span class="conversation__block_badge">3</span>
        </div>
        <div class="conversation__status_scorecard_details">
          <span>Title</span>
        </div>
        <div class="conversation__status_scorecard_score">
          <span>0</span>
        </div>
      </div>
    </li>
  </ul>
</div>
