<div class="conversation__block">
  <div class="conversation__block_title">
    <h2><span>Status de la conversación</span> <span class="conversation__block_badge">4</span></h2>
    <div id="flip1" class="conversation__block_flip">
      <div class="circle-plus closed">
        <div class="circle">
          <div class="horizontal"></div>
          <div class="vertical"></div>
        </div>
      </div>
    </div>
  </div>
  <div id="panel1">
    <div class="conversation__status">
      <div class="conversation__status-details_list">
        <ul>
          <li>
            <span>Participantes</span> <span>1500</span>
          </li>
          <li>
            <span>Participaciones</span> <span>12 (0,8%)</span>
          </li>
        </ul>
      </div>
      <div class="conversation__status_result_container">
        <div class="conversation__status_result conversation__status_result_1col">
          <div class="conversation__status_decision">
            <div class="conversation__status_percentage">
              <span class="no percent-0-20">2</span>
            </div>
            <div class="conversation__status_label">Valoraciones</div>
          </div>
        </div>
      </div>
    </div>

    <%= render "scorecard/show/partials/conversation__status_scorecard" %>

    <div class="conversation__view-all_button">
      <button class="button__radius button__radius__secondary">Ver status completo</button>
    </div>
  </div>
</div>

<!--hr seperador de bloque-->
<%= render "challenge/show/partials/conversation__block_divider" %>
